*{
	margin:0;
	padding:0;
	border:0;
}

header, nav, footer, section, aside, article{
	display:block;
}

body {
  line-height: 20px;
  font-family: 'Oxygen', sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf:after,
.lab-grid:after {
  content: "";
  display: table;
  clear: both;
}


body {
  background: #fff;
}

#menu ul {
  margin: 0;
  padding: 0;
  
  
}

#menu .main-menu {
  display: none;
  
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
  
}

#menu .sub-menu {
  background-color: #edca6d;
  border-width: 1px 1px 0;
  margin:0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#menu a {
  position: relative;
  float:none;
  display: block;
  color: #1f1f1f;
  font-size:16px;
  font-weight:500;
}

#menu {
  width:100%;
  margin:0 auto;
}

#menu a {
  padding:15px 16px;
    transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  color: #fff;
  background:#b59459;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: #fff;
  background:#b59459;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  padding:0.9em 1em;
  font-size: 1em;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}

#toggle-menu{
  position: relative;
  display:block;
  color: #fff;
  font-size:18px;
  background:#d3ad69;
  text-transform:uppercase;
  font-weight:600;
  padding: 0.9em 0.5em;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 0;
  top: 0;
}


@media only screen and (min-width: 1024px) {


  
  #menu .main-menu {
    display: block;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
	
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
	width: 265px;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

 #menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}
