#mixedSlider {
  position: relative;
  margin-top:40px;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlider .MS-content .item {
   font-family: 'Quicksand', sans-serif;
  background: #fff;
  display: inline-block;
  width:100%;
  max-width:238px;
  height:456px;
  position: relative;
  overflow: hidden;
  white-space: normal;
  padding: 0 0 10px 0;
  margin-right:30px;
  text-align:center;
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}

/*#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-style: italic;
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
}*/
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
#mixedSlider .MS-controls .MS-left {
  left: 0px;
}
#mixedSlider .MS-controls .MS-right {
  right: -3px;
}
#basicSlider { position: relative; }
#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}
#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}
#basicSlider .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}
#basicSlider .MS-controls button { position: absolute; }
#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}
#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}



@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
	#mixedSlider .MS-content .item {
    width: 50%;}
	
	#basicSlider .MS-content .item { width: 25%; }
}


@media (max-width: 767px) {
	#mixedSlider .MS-content .item {
    width: 100%;
	margin-right:20px;
  } 
    #mixedSlider .MS-controls button {
    font-size: 20px;
  }
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  } 
  #mixedSlider .MS-controls .MS-right {
    right: -3px;
  }
  #basicSlider .MS-content .item { width: 100%; }
}

@media (max-width: 500px) {
	#basicSlider .MS-content .item { width: 100%; }
	
}
@media screen and (max-width:479px) and (min-width:320px){
	#mixedSlider .MS-content .item {
   	max-width:330px;
	padding-top:3px;
}

	#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}
}
